@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.App {
  font-family: "Nunito", serif;
  text-align: center;
}

.App,
h1 {
  font-weight: 800;
}


.programmingIcons {
    width: 60px;
    margin: 0 10px;
}

h1#titleName {
    font-size: 4rem !important;
}

.list-group {
    margin: 0 auto;
    width: fit-content;
}

.list-group-item {
    border: none;
}
